*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #76777a;
}
.card{
    width: 90%;
    max-width: 400px;
    color: #fff;
    background: linear-gradient(135deg, #00feba, #5b5b5b);
    border-radius: 20px;
    margin: 100px auto 0;
    text-align: center;
    padding: 35px 30px;
}


.search {
    display: flex;
    align-items: center;
    gap: 16px; 
    margin: 20px 0;
}

.search input {
    flex: 1;
    padding: 12px 20px;
    font-size: 16px;
    border: 0;
    outline: none;
    background: #ebfffc;
    color: #555;
    border-radius: 30px; 
}

.search button {
    border: 0;
    outline: none;
    background: #ebfffc;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
    transition: background 0.3s;
}

.search button:hover {
    background: #00feba;
}

.search button img {
    width: 20px;
    height: 20px;
    display: block;
    object-fit: contain;
    pointer-events: none;
}
.wether-icon{
    width: 170px;
    margin-top: 30px;

}
.temp-city {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.wether h1{
    font-size: 50px;
    margin: 0;
}
.wether h2{ 
    font-size: 40px;
    margin: 0;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
    gap: 10px;
}

.col img {
    width: 40px;
}

.details p {
    color: #fff;
    font-size: 14px;
    margin-top: -6px;
}

.humidity, .wind {
    font-size: 28px;
    font-weight: 500;
}
.wether{
    display: none;

}
